<!-- <div class="navbar navbar-default">
  <div class=" app-header d-flex w-100 p-3 ">
    <div class="container-fluid ">
      <div class="Task">Angular Task</div>
      <div class="total">Total Tasks:5</div>
      <div><a class="home" routerLink="home">Home</a></div>
      <div><a class="add" routerLink="add">Task+</a></div>
    </div>
  </div>
</div> -->

<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="row mb-3 justify-content-md-center">
      <label class="col-sm-6 col-md-3 col-form-label">TaskType :</label>
      <div class="col-sm-6 col-md-3">
        <!-- <select class="custom-select" formControlName="tasks" (change)="changeTask($event)">
        <option value="">Choose Type</option>
        <option value="">Story</option>
        <option value="">Epic</option>
        <option value="">Task</option> 
        </select> -->
        <!-- input type="text" class="form-control select-input-wrapper" -->
        <ng-select class="form-control mt-5" [items]="items" bindLabel="name" appendTo="body" [(ngModel)]="selected">
        </ng-select>
      </div>
      <label for="title" class="col-sm-2 col-md-3 col-form-label">Title :</label>
      <div class="col-sm-3 col-md-3">
        <input id="title" type="text" class="form-control" formControlName="title">
      </div>
      <label for="desc" class="col-sm-2 col-md-3 col-form-label">Description :</label>
      <div class="col-sm-3 col-md-3">
        <input id="desc" type="text" class="form-control" formControlName="desc">
      </div>
      <label for="assign" class="col-sm-2 col-md-3 col-form-label">Assignee :</label>
      <div class="col-sm-3 col-md-3">
        <input id="assign" type="text" class="form-control" formControlName="Assign">
      </div>

      <div class="row mb-3 justify-content-md-center " style="margin-top: 100px;">
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
    </div>