$font:    Helvetica, sans-serif;
$text-color:white;
$size:20px;
$back-color:#f9717e;

// .container-fluid {
//   display: flex;
//   font:  $font;
//   color: $text-color;
//   justify-content: space-between;
//   font-size: $size;
// }
// .navbar-default{
//     background-color: $back-color;
// }
// a{
//   color:black;
//   text-decoration: none;
// }
label {
  padding-top: calc(3.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.5;
}
select{
  width:100%;
  height: 40px;
}
.col-sm-3{
  margin-top: 50px;
}

.btn-primary{
  font:  $font;
  color: $text-color;
  background-color: $back-color;
  border-color: $back-color;
  width: 100px;

}
