$font:    Helvetica, sans-serif;
$text-color:white;
$size:20px;
$back-color:#f9717e;

.container-fluid {
  display: flex;
  font:  $font;
  color: $text-color;
  justify-content: space-between;
  font-size: $size;
}
.navbar-default{
    background-color: $back-color;
}
a{
  color:black;
  text-decoration: none;
}