<div class="navbar navbar-default">
    <div class=" app-header d-flex w-100 p-3 ">
        <div class="container-fluid ">
            <div class="task-title">Angular Task</div>
            <div class="total">Total Tasks:5</div>
            <div><a class="home" routerLink="home">Home</a></div>
            <div><a class="add" routerLink="add">Task+</a></div>
        </div>
    </div>
</div>
<app-add></app-add>