$font:    Helvetica, sans-serif;
$text-color:white;
$size:20px;
$back-color:#f9717e;

.container-fluid {
  display: flex;
  font:  $font;
  color: $text-color;
  justify-content: space-between;
  font-size: $size;
}
.navbar-default{
    background-color: $back-color;
}
a{
  color:black;
  text-decoration: none;
}
.board-wrapper{
  display:flex;
  flex-grow: 1;
  overflow-x: auto;
 
  .board-columns{
    display:flex;
    flex-grow: 1;
  
    .board-column{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
       min-width: 300px;
      height:771px;
      margin: 50px;
      padding: 25px;
      background:rgba(grey,0.5) ;
    }
    .board-column{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
       min-width: 300px;
      // height:1000px;
      margin: 50px;
      padding: 25px;
      background:rgba(grey,0.5) ;
    }
    .board-column{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
       min-width: 300px;
      // height:1000px;
      margin: 50px;
      padding: 25px;
      background:rgba(grey,0.5) ;
    }
    .board-column{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
       min-width: 300px;
      // height:1000px;
      margin: 50px;
      padding: 25px;
      background:rgba(grey,0.5) ;
    }
  }
}
.root{
  background-image: url('../../assets/trianglify-lowres.png');
}